* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 
 body {
    font-family: "Lato", sans-serif;
 }
#logo,h1,h2,h3,h4,h5,h6 {

    font-family: "Playfair Display", serif;
}

h1, .h1 {
    font-size: 3.815rem;
    margin-bottom: 20px;

}
h2, .h2 {
    font-size: 3.052rem;
}
h3, .h3 {
    font-size: 2.441rem;
}
 
h4, .h4 {
    font-size: 1.953rem;
}
h5, .h5 {
      font-size: 1.563rem;
}
h6, .h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 160%;
    color: rgb(64, 64, 64);
}

.small {
    font-size: 0.8rem;
}

header {
    border-bottom: 1px solid black;
    height: 72px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.container {
   width: 1320px;
   margin-left: auto;
   margin-right: auto;
   height: 100%;

}
#logo {
    font-size: 24px;
    color: black;
    text-decoration: none; 
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(47, 47, 47);
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iconLink {
    color: black;
    text-decoration: none;
}

.iconLinks {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

}

#section1 {
    background-color: #e4dddd;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#section1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 p {
    width: 560px;
    text-align: center;
}


.button {
 display: inline-block;
    text-decoration: none;
padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;



}
 .buttonPrimary {
   
    background-color: black;
    color: white;
    

 }
 .buttonSecondary {
   
    background-color: white;
    color: black;
    
    border: 1px solid black;
    
 }
 .buttonHolder {
    margin-top: 2rem;
 }

 .categoriesList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
 }

 .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
  

 .category img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;


 }
 #section2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
 }